html {
  overflow-y: auto;
}

.hero-body-adjusted {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  line-height: 1.4;

  align-items: flex-start;
}

.is-lower {
  padding-top: 10%;
}

.is-clickable {
  cursor: pointer;
}

.m-auto {
  margin: auto;
}

.is-centered-icon {
  vertical-align: center;
  margin-left: 5px;
}

.is-icon-top {
  vertical-align: top;
}

/* to keep the table header sticky and visible at all times */
.is-stuck {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

/* to keep table footer sticky and visible at all times */
.is-stuck2 {
  background: inherit;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
}

.fix-table-scroll {
  overflow: auto;
  height: 83vh;
}

@media screen and (max-width: 1023px) {
  .is-mobile-table-overflow-fix {
    display: block !important;
  }
}

.has-svg {
  position: -webkit-sticky;
  position: sticky;
  top: 35vh;
}

@media screen and (min-width: 1024px) {
  /* make dropdown disappear after clicking link */
  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: inline !important;
  }
  .navbar-item.is-hoverable:focus-within .navbar-dropdown {
    display: none;
  }
  /* for making predictions */
  .is-max {
    height: 28vh;
    overflow: auto;
  }
}

.is-underlined {
  border-bottom: 1px solid currentColor;
}

.has-radius {
  border-radius: 8px;
}
.has-radius-top-left {
  border-radius: 8px 0 0 0;
}
.has-radius-top-right {
  border-radius: 0 8px 0 0;
}

.is-divider {
  display: block;
  position: relative;
  border-top: 0.35rem solid #cfcfcf;
  height: 0.35rem;
}

/* makes date input box span width of container */
.react-datepicker-wrapper {
  display: inline !important;
}

/* used in loading spinner component. makes it bigger and not look like a button */
.isLoading-button {
  background-color: transparent;
  border: none;
  margin: auto;
  font-size: 4rem;
}

.isLoading-button::after {
  border: 4px solid #b2adce !important;
  border-color: #b2adce transparent #b2adce transparent !important;
  animation: spinAround 1.2s infinite linear !important;
}

/* used to truncate usernames on standings page */
.ellipsis {
  overflow: hidden;
  white-space: break-spaces;
  max-width: 75px;
  text-overflow: ellipsis;
}

@media screen and (min-width: 1024px) {
  .ellipsis {
    overflow: hidden;
    white-space: break-spaces;
    max-width: 75px;
    text-overflow: ellipsis;
  }
}

/* shows user names on hover on standings page */
.ellipsis:hover {
  max-width: 75px;
  overflow: visible;
  text-overflow: unset;
  word-wrap: break-word;
}

/* makes first and last column of standings page not take up so much space by default */
td:first-child,
th:first-child,
th:last-child {
  max-width: 115px;
}

#standings-container {
  max-width: 1728px;
}

#home-container {
  width: 100%;
}

.is-padded {
  padding: 45px 10px;
}

#home-main-fix {
  margin: 0 auto;
  align-items: center;
  padding: 45px 20px;
  padding-bottom: 0;
  max-width: 1425px;
}

@media screen and (min-width: 1024px) {
  .is-padded {
    padding: 90px 20px;
    max-width: 1140px !important;
  }

  #home-main-fix {
    padding: 90px 20px;
    padding-bottom: 0;
  }
}

#auth-width {
  max-width: 425px;
  margin: 0 auto;
}

#predictions-width {
  max-width: 445px;
}

.features-width {
  max-width: 500px;
}

@media screen and (max-width: 768px) {
  .features-width {
    padding-top: 0;
    padding-bottom: 0;
  }

  .is-smaller-mobile {
    margin: 0 auto !important;
    max-width: 550px;
  }
}

@media screen and (min-width: 769px) {
  .is-relatively-higher {
    position: relative;
    bottom: 70px;
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  overflow: hidden;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.has-danger-border {
  border: 1px solid red;
}

.is-aligned {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pr-tiny {
  padding-right: 2px;
}
