html {
  overflow-y: auto;
}

.is-clickable {
  cursor: pointer;
}

/* to keep the table header sticky when scrolling */
.is-stuck {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
.fix-table-scroll {
  overflow: auto;
  height: 80vh;
}
@media screen and (max-width: 1023px) {
  .is-mobile-table-overflow-fix {
    display: block !important;
  }
}

.has-svg {
  position: -webkit-sticky;
  position: sticky;
  top: 35vh;
}

/* makes the hamburger menu work through css instead of js */
#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .navbar-menu {
  display: block;
}

@media screen and (min-width: 1024px) {
  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: inline !important;
  }
  .navbar-item.is-hoverable:focus-within .navbar-dropdown {
    display: none;
  }
}

.is-underlined {
  border-bottom: 1px solid currentColor;
}

.has-radius {
  border-radius: 8px;
}
.has-radius-top-left {
  border-radius: 8px 0 0 0;
}
.has-radius-top-right {
  border-radius: 0 8px 0 0;
}

.is-divider {
  display: block;
  position: relative;
  border-top: 0.35rem solid #cfcfcf;
  height: 0.35rem;
}

.react-datepicker-wrapper {
  display: inline !important;
}
