html {
  overflow-y: auto;
}

.is-clickable {
  cursor: pointer;
}

/* to keep the table header sticky when scrolling */
th {
  background: white;
  position: sticky;
  top: 55px;
}

/* makes the hamburger menu work through css instead of js */
#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .navbar-menu {
  display: block;
}

/* fixes dropdown menu from staying open after clicking on it, still need hamburger to close on mobile */
@media screen and (min-width: 1025px) {
  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: inline !important;
  }
  .navbar-item.is-hoverable:focus-within .navbar-dropdown {
    display: none;
  }
}

.is-underlined {
  border-bottom: 1px solid currentColor;
  /* text-decoration: underline; */
}
